.App {
  text-align: center;
}

.Game {
  display: flex;
  justify-content: center;
}

.Game-Board {
  background-color: #0077ee;
  border-radius: 10px;
  display: flex;
  padding: 5px;
}

.Game-Column {
  display: flex;
  flex-direction: column;
}

.Game-Cell {
  border-radius: 20px;
  width: 40px;
  height: 40px;
  background-color: white;
  margin: 5px;
}

.Game-Cell.red {
  background-color: red;
}

.Game-Cell.yellow {
  background-color: yellow;
}
