.App {
  text-align: center;
}

.Game {
  display: flex;
  justify-content: center;
}

.Game-Board {
  background-color: #0077ee;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.Game-Board__button {
  background-color: red;
  border: 1px solid black;
  border-radius: 3px;
  color: white;
  margin: 10px;
  padding: 4px;
}

.Game-Board__button.winner {
  background-color: green;
}

.Game-board__table {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.Game-Board__results {
  border-collapse: collapse;
}
.Game-Board__results td {
  border: 1px solid black;
  padding: 12px;
}

.Game-Board__results thead td {
  font-weight: bold;
}

.Game-Row {
  display: flex;
  flex-direction: row;
}

.Game-Cell {
  border-radius: 20px;
  width: 40px;
  height: 40px;
  background-color: white;
  margin: 5px;
}

.Game-Cell:hover {
  cursor: pointer;
  background-color: lightgray;
}

.Game-Cell.red {
  background-color: red;
  cursor: not-allowed;
}

.Game-Cell.yellow {
  background-color: yellow;
  cursor: not-allowed;
}

.Game-Cell.animated {
  animation-name: animated;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  transform-style: preserve-3d;

  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 40px;
  color: black;
}
.Game-Cell.animated::after {
  content: "×";
}

@keyframes animated {
  50% {
    transform: rotateY(180deg);
  }
}
